*{
padding: 0;
margin: 0;
box-sizing:border-box;
}
#root{
width: 100vw;
height: 100vh;
display:flex;
justify-content: center;
align-items:center;
background-color: black;
}
#canvas{
background-color: black;
}
@font-face {
    font-family: "font1";
    src: url("../assesst/fonts/font1.otf");
}
